/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .hero .hero--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 4rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .hero .hero--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 4rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .hero .hero--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 4rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  header {
    display: none;
  }

  .break--container {
    flex-direction: column;
  }

  .title-box {
    width: 90%;
    align-items: center;
  }

  .gameplay--img {
    width: 100%;
  }

  .box-text p {
    font-size: 1.2rem;
  }

  .partner--icon {
    width: 6rem;
  }

  .features .container {
    flex-direction: column;
  }

  .titles {
    width: 90%;
  }
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
