* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MAIN ELEMENTS START */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #8ef9f3;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.4)
  );
}

.hero--container {
  max-width: 130rem;
}

.container {
  max-width: 120rem;
}

.hamburger {
  display: none !important;
}

.btn,
.btn:link,
.btn:visited {
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  border-radius: 2.4rem;
  background-color: #4257de;
  color: rgb(247, 246, 246);
  border: none;
  width: fit-content;
}

/* MAIN ELEMENTS END */

/* HEADER START */

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 4.4rem;
  height: 8vh;
}

.logo {
  font-size: 3rem;
}

.navbar {
}

.nav--list {
  display: flex;
  list-style: none;
  gap: 3.2rem;
}

.list--item {
  font-size: 1.6rem;
}

.header--btns {
  grid-area: 1/4;
  display: flex;
  justify-content: end;
  gap: 2.4rem;
}

.login--btn {
  border: none;
  font-size: 1.6rem;
  background: none;
}

/* HEADER END */

/* HERO START */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 92vh;
  padding: 9.6rem 4.8rem;
}

.hero .hero--container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr 2.4rem;
  height: 95%;
}

.hero--text-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  grid-column-start: 1;
  grid-column-end: 1;
  align-self: center;
}

.hero--title {
  font-size: 6.8rem;
  font-weight: 600;
  line-height: 1.3;
}

.hero--description {
  font-size: 1.6rem;
  margin-bottom: 4.2rem;
}

.hero--btns {
  display: flex;
  gap: 3rem;
}

.hero--btns button {
  padding: 1.2rem 2.4rem;
}

.hero--img {
  grid-column-start: 2;
  grid-column-end: 2;
  align-self: center;
}

.hero--img img {
  width: 100%;
  height: auto;
}

.scroll--btns {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
}

.hero--down-btn {
  background-color: #f0f4f8;
  padding: 0.6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero--scroll-btn {
  grid-column-start: 2;
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.6rem;
}

/* HERO END */

/* HOW--IT--WORKS START */

.how--it--works {
  display: flex;
  justify-content: center;
  padding: 9.6rem 4.8rem;
}

.how--it--works .container {
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

.works--features {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.works--title--box {
  display: grid;
  grid-template-columns: 40% 1fr 45%;
}

.sub--title {
  font-size: 1.8rem;
  color: #4257de;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.works--title {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.3;
}

.box--description {
  align-self: center;
  font-size: 1.4rem;
  grid-column-start: 3;
}

.works--cards {
  display: flex;
  justify-content: space-between;
}

.works--card {
  background-color: #fff;
  width: 27%;
  padding: 3.2rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  border-radius: 0.5rem;
}

.card--icon {
  background-color: #c0fcf9;
  padding: 1.2rem;
  border-radius: 0.2rem;
  width: fit-content;
  height: fit-content;
  font-size: 32px !important;
}

.card--title {
  font-size: 2.2rem;
  font-weight: 600;
}

.card--description {
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
}

.works--price {
  display: flex;
  justify-content: space-between;
}

.price--text-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.price--tiel {
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 1.3;
}

.price--descriptions {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.price--img-box {
  width: 35%;
}

.price--img {
  width: 100%;
  height: auto;
  border-radius: 0.8rem;
}

/* HOW--IT--WORKS END */

/* FESTURES START */

.features {
  display: flex;
  justify-content: center;
  padding: 9.6rem 4.8rem;
}

.features .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.section--title {
  font-size: 3.2rem;
  font-weight: 600;
}

.section--title-description {
  font-size: 1.6rem;
  font-weight: 400;
  width: 80%;
  text-align: center;
  margin-bottom: 3.2rem;
}

.features--list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2.4rem;
}

.feature--item {
  background-color: #f7f9fd;
  display: flex;
  align-items: center;
  padding: 2.4rem 3.2rem;
  border-radius: 0.4rem;
}

.feature--description {
  display: flex;
  gap: 2.4rem;
}

.description--text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}

.item--title {
  font-size: 1.6rem;
  font-weight: 500;
}

.item--text {
  font-size: 1.2rem;
}

.feature--date {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.item--date {
  display: flex;
  gap: 1.2rem;
}

.item--date input {
  height: fit-content;
  padding: 1rem;
  border: none;
  background-color: #f2f5fb;
}

/* FESTURES END */

/* TESTIMONIALS START */

.testimonials {
  display: flex;
  justify-content: center;
  padding: 9.6rem 0;
}

.testimonials .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.testimonial--img {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
}

.testimonial--img img {
  height: auto;
  width: 8rem;
}

.testimonial--info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial--name {
  font-size: 1.4rem;
}

.testimonial--info span {
  font-size: 1.2rem;
}

.testimonial--description {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 400;
  width: 80%;
}

.pagination--icon {
  font-size: 1.6rem !important;
}

/* TESTIMONIALS END */

/* CONTACT START */

.cotact {
  display: flex;
  justify-content: center;
  padding: 9.6rem 0;
}

.cotact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

form {
  background-color: #fff;
  padding: 3.2rem 8.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.form--inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1.8rem;
  column-gap: 3.2rem;
}

.form--inputs div,
.form--textarea {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

label {
  font-size: 1.4rem;
}

.contact--input {
  font-size: 1.8rem;
  padding: 0.6rem;
}

.contact--input-big {
  width: 100%;
  font-size: 1.8rem;
}

/* CONTACT END */

/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .hero {
    height: auto;
  }

  .hero .hero--container {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
  }

  .hero--text-box {
    align-items: center;
    height: 30%;
  }

  .hero--title {
    text-align: center;
  }

  .hero--img {
    height: 50%;
  }

  .hero--img img {
    /* width: auto; */
    height: 100%;
  }

  .works--card {
    width: 30%;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .header {
    grid-template-columns: 1fr 1fr;
  }

  .hero {
    padding: 9.6rem 2.8rem;
  }

  .navbar {
    display: none;
  }

  .header--btns .btn {
    display: none;
  }

  .hamburger {
    font-size: 3.2rem !important;
    font-weight: 600 !important;
  }

  .hero--title {
    font-size: 5.2rem;
  }

  .hero--description {
    font-size: 1.4rem;
    text-align: center;
  }

  .works--title--box {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .sub--title {
    text-align: center;
  }

  .works--title {
    text-align: center;
  }

  .box--description {
    text-align: center;
  }

  .works--cards {
    flex-direction: column;
    gap: 2.4rem;
  }

  .works--card {
    width: 100%;
  }

  .works--price {
    flex-direction: column;
    gap: 3.2rem;
  }

  .price--img-box {
    width: 100%;
  }

  .price--text-box {
    width: 100%;
    gap: 2.4rem;
  }

  .feature--item {
    flex-direction: column;
    gap: 2.4rem;
  }

  .card--icon {
    font-size: 1.4rem !important;
  }

  form {
    padding: 2.2rem;
    width: 90%;
  }

  .form--inputs {
    grid-template-columns: 1fr;
  }
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
