* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MAIN ELEMENTS START */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #8ef9f3;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.4)
  );
}

.hero--container {
  width: 130rem;
  background-color: rgb(179, 214, 202);
}

.container {
  width: 120rem;
  background-color: rgb(149, 188, 188);
}

.btn,
.btn:link,
.btn:visited {
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  border-radius: 2.4rem;
  background-color: #4257de;
  color: rgb(247, 246, 246);
  border: none;
}

/* MAIN ELEMENTS END */

/* HEADER START */

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 4.4rem;
}

.logo {
  font-size: 3rem;
}

.navbar {
}

.nav--list {
  display: flex;
  list-style: none;
  gap: 3.2rem;
}

.list--item {
  font-size: 1.6rem;
}

.header--btns {
  grid-area: 1/4;
  display: flex;
  justify-content: end;
  gap: 2.4rem;
}

.login--btn {
  border: none;
  background: none;
  font-size: 1.6rem;
}

/* HEADER END */

/* HERO START */

.hero {
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HERO END */

/* HOW--IT--WORKS START */

.how--it--works {
  background-color: bisque;
  display: flex;
  justify-content: center;
}

/* HOW--IT--WORKS END */

/* FESTURES START */

.features {
  background-color: beige;
  display: flex;
  justify-content: center;
}

/* FESTURES END */

/* TESTIMONIALS START */

.testimonials {
  background-color: rgb(157, 157, 121);
  display: flex;
  justify-content: center;
}

/* TESTIMONIALS END */

/* CONTACT START */

.cotact {
  background-color: rgb(204, 177, 135);
  display: flex;
  justify-content: center;
}

/* CONTACT END */
